.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  border-radius: 16px;
  padding: 80px;
}
.heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 20px;
}
.paragraph {
  color: #334155;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}
.btn {
  border: 0px;
  border-radius: 4px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  color: #1e293b;
}
.description {
  color: #334155;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
}
